<form action='/till' method='post' id='cashier-name-form'>
  <p>Input your name, hipster!</p>
  <label name='name-label'>Name: </label>
  <input type='text' name='name' placeholder='Cashier Name' id='cashier-name'>
  <input type='submit' name='submit' value='ENTER'>
</form>