<!DOCTYPE html>
<html>

<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
     <link href="css/tillScreen.css" rel="stylesheet">
     <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <title>The Coffee Connection</title>
</head>

<body>
  <div id="background">
  <img src='till.png' id="backgroundimage" alt='[]'>
</div>

  
        <!-- Footer -->
        <footer class="footer">
            <div class="row">
                <div class="col-lg-12">
                    <small>Copyright &copy; Hannah Carney 2015</small>
                </div>
            </div>
        </footer>

    <!-- Socket io -->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
</body>
</html>