<!DOCTYPE html>
<html>

<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
     <link href="css/tillScreen.css" rel="stylesheet">
     <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
     <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
    <title>The Coffee Connection</title>
</head>

<body>
<div id="background">
    <img src='till.png' id="backgroundimage" alt='[]' />
</div>
<div class="numberBox">
    <div id="errorTill"></div>
    <div id="tillNumbers">
    </div>
</div>
<div class="entryBox">
    <form>
        <div id="entryTill">
          <select id="itemselect" class="btn btn-mini">                
          <optgroup label="Coffee">
              <option id="4.75">Cafe Latte</option>
              <option id="4.75">Flat White</option>
              <option id="3.85">Cappucino</option>
              <option id="2.05">Single Espresso</option>
              <option id="3.75">Double Espresso</option>
              <option id="3.75">Americano</option>
          </optgroup>
          <optgroup label="Drinks">
              <option id="4.55">Cortado</option>
              <option id="3.65">Tea</option>
          </optgroup>
          <optgroup label="Desserts">
              <option id="6.40">Choc Mudcake</option>
              <option id="8.20">Chock Mousse</option>
              <option id="14.80">Affogato</option>
              <option id="11.40">Tiramisu</option>
              <option id="4.05">Blueberry Muffin</option>
              <option id="4.05">Chocolate Chip Muffin</option>
              <option id="4.55">Muffin Of The Day</option>
          </optgroup>
          </select>
          <label for="Quantity" id="quantity">Quantity:</label>
             <input type="number" min="0" max="9" value="quantityInput" id='quantityInput'>
        </div>
        <div id="addToRecepit">
            <input type="submit" id="buttonForAdd" value="add" id='add'>
            <input type="submit" hidden="hidden" value="print" id="printReceipt">
        </div>
    </form>
</div>
<div class="receiptPlacement"></div>
<div class="overView"></div>
<script src="js/hipsterList.js"></script>
<script type="text/javascript">


var addToList = function(item, quantity, price) {
  var _this = this;
  var count = $('#tillNumbers').children() .length
  if (quantity != 0 && count < 6) {
    $('#errorTill').empty();
    $.post('/', {item: item, quantity: quantity}, function(data) { 
      button = item + " x" + quantity + "= " + (price*quantity) + " " + '<button class="btn x" id="'+ item +'">x</button>';
    $('<div />',{html: button}).appendTo('#tillNumbers');
    });
  }
  else if (count == 6) {
    $("#errorTill").text("Sorry, that is too many orders");
  }
  else {
    $("#errorTill").text("Enter a Quantity");
   }
};

  $(document).on('ready', function() {



  $(document).on('click', '#buttonForAdd', function(e) {
      e.preventDefault();
      $('.receiptPlacement').addClass('receipt1')
      $('#printReceipt').removeAttr('hidden')
      addToList($( "#itemselect" ).val(), $("#quantityInput").val(), $("#itemselect :selected").attr("id"));
    });
  

  $(document).on('click', '.receiptPlacement', function(e) {
    e.preventDefault();
    $('.overView').addClass('receipt2')
  });

  $(document).on('click', '.overView', function(e) {
    e.preventDefault();
    $('.overView').removeClass('receipt2')
  });
  

});

</script>

 <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <small>Copyright &copy; Hannah Carney 2015</small>
            </div>
        </footer>

  
  
</body>

</html>

