<section id='till-header'>
  <section id='till-screen'>
  </section>
</section>

</section id='till-body'>
  <section id='till-grid'>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <br/>
    <tr>
      <td>4</td>
      <td>5</td>
      <td>6</td>
    </tr>
    <br/>
    <tr>
      <td>7</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <br/>
    <tr>
      <td>0</td>
    </tr>
  </section>
  <section id='till-items'>
  <% @menu.list.each do |item|%>
    <li><%= item[0] %></li>
  <% end %>
  </section>
</section>