<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/getShopDetails.js"></script>
    <script src="js/tillTechCtrl.js"></script>
  </head>
  <body ng-app="hiptillio" ng-controller="HipTillioController as HipTillCtrl">

    <ion-pane>
      <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">HipTillio</h1>
      </ion-header-bar>
      <ion-content>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Customer Order Items</span>
          <input type="text" placeholder="What items were in the order?" ng-model="HipTillCtrl.item">
        </label>
        <div class="row">
            <div class="col text-center">
              <button class="button button-positive" ng-click="HipTillCtrl.addItem(HipTillCtrl.item)" id="addOrder"> Add Item
              </button>
            </div>
         </div>
      </div>

        <div class="list list-inset">
          <div class="item" ng-repeat="item in HipTillCtrl.orderItems">
            {{item.itemName}}, {{item.price}}
          </div>
        </div>

        <div class="customerpays list">
          <label class="item item-input item-stacked-label">
          <span class="input-label">Customer Payment</span>
            <input type="text" placeholder="How much cash did the customer give?" ng-model="HipTillCtrl.customerPayment">
          </label>
          <label class="item item-input item-stacked-label">
          <span class="input-label">Customer Discount (%)</span>
            <input type="text" placeholder="Customer Discount" ng-model="HipTillCtrl.customerDiscount">
          </label>
          <div class="row">
            <div class="col text-center">
              <button class="center button button-positive" id="addPayment">Process Customer Details </button>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button class="button button-assertive" ng-click="HipTillCtrl.completeOrder()">
                  Complete Order
                </button>
            </div>
        </div>

        <div class="list list-inset">
          <div class="item" ng-repeat="item in HipTillCtrl.confirmedItems">
            {{item.itemName}}, {{item.price}} * {{item.quantity}}
          </div>
        </div>

        <span id='totalcost'>Total: {{HipTillCtrl.totalItemCost}}</span>
        <br>
        <span id="taxcost">Tax: {{HipTillCtrl.taxCost}}</span>
        <br>
        <span id="cash"> Cash: {{HipTillCtrl.customerPayment}} </span>
        <br>
        <span id="change"> Change: {{HipTillCtrl.change}} </span>

      </ion-content>
    </ion-pane>
  </body>
</html>
