<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/tillTechCtrl.js"></script>
  </head>
  <body ng-app="hiptillio" ng-controller="HipTillioController as HipTillCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">HipTillio</h1>
      </ion-header-bar>
      <ion-content>
        <h1 id="hiptillio"> HipTillio </h1>

        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Order" ng-model="HipTillCtrl.item">
          </label>
            <input type="submit" ng-click="HipTillCtrl.addItem(HipTillCtrl.item)" id="addOrder"></input>
        </div>

        <ion-list class="longlist">
          <ion-item ng-repeat="item in HipTillCtrl.orderItems">
            {{item.itemName}}, {{item.price}}
          </ion-item>
        </ion-list>
        <button class="button button-positive" ng-click="HipTillCtrl.completeOrder()">
          Complete Order
        </button>
        <ion-list class="finalorder">
          <ion-item ng-repeat="item in HipTillCtrl.confirmedItems">
            {{item.itemName}}, {{item.price}} * {{item.quantity}}
          </ion-item>
        </ion-list>
        <span id="taxcost">Tax: {{HipTillCtrl.taxCost}}</span>
        <br>
        <span id="totalcost"> Total Cost: {{HipTillCtrl.totalItemCost}} </span>
      </ion-content>
    </ion-pane>
  </body>
</html>
