Ready to take the next order


<select name='order-item' form='order-entry' id='menu-dropdown'>
  <% @menu_items.each do |item| %>
      <option value="<%=item%>"><%=item%></option>
  <% end %>
</select>
<form action='#' id='order-entry'>
</form>
