<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cafe hipstercoffee</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.css"/> -->
  </head>
  <body>
  <h1 align="center">Welcome to our hipstercoffee!</h1>

  <table align="center" border="1" style="width:80%">
    <tr style="width:50%">
      <td style="width:50%">
        <h3 align="center" id="menu" >
          <h3>
      </td>
      <td style="width:50%">
     <img src="http://i.ebayimg.com/00/s/NTY2WDg0OQ==/z/dO8AAOSwfcVULVhW/$_32.JPG?set_id=880000500F" width="100% " >
    </tr>
    <tr style="width:50%">
      <td style="width:50%">


      </td>
      <td style="width:50%">
      </td>
    </tr>
  </table>

  </body>
</html>
