<!DOCTYPE html>
<html>
  <head>

    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/normalize.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

    <script type="text/javascript" src="/scripts/jquery.js" >   </script>
    <script type="text/javascript" src="/scripts/handlebars.js"></script> 
    <script type="text/javascript" src="/scripts/handlebarsTemplateFetcher.js"> </script>
    <script type="text/javascript" src="/scripts/script.js" >   </script>
    
  </head>
  
  <body>
    <div id='receipt-column'>
      <section id='receipt-container'>
      </section>
    </div>

    <div id='menu-column'>
      <section id='menu-container'>
      </section>
    </div>

    <form id='payment-form'>
      Payment: 
      <input type="text" name="payment">
      <input type="submit" name="payment" value="Make Payment">
    </form>
  </body>
</html>

