<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Connection</title>
  </head>
  <body>
    <h1>The Coffee Connection</h1>
    <em>123 Lakeside Way</em>

    <%= erb :"/partials/_items" %>
    <%= erb :"/partials/_receipt" %>
    <a href='/clear_order'>Clear order</a>
  </body>
</html>
