<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' type='text/css' href='http://necolas.github.com/normalize.css/3.0.2/normalize.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <script type="text/javascript" src="/scripts/jquery.js" ></script>
    <script type="text/javascript" src="/scripts/receiptTemplate.js"></script>
    <script type="text/javascript" src="/scripts/handlebars.js"></script> 
    <script type="text/javascript" src="/scripts/menuTemplate.js"></script>

    <script id="receipt-template" type="text/x-handlebars-template" >
      <img src
      <section id='receipt-box'>
      
      Items:
       <ul>
         {{#order.items}}
         <li>{{name}} X {{quantity}} ::: {{cost}}</li>
         {{/order.items}}
       </ul>
      Total: {{total}}

      </section>
      
    </script>

    <script id="menu-template" type="text/x-handlebars-template" >
      <a href="/">Spaghetti</a>

    </script>
    

  </head>
  
  <body>
    <section id='receipt-container'>
    </section>

    <section id='menu-container'>
    </section>
  </body>
</html>

