<!DOCTYPE html>
<html>
  <head>

    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='http://necolas.github.com/normalize.css/3.0.2/normalize.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

    <script type="text/javascript" src="/scripts/jquery.js" >   </script>
    <script type="text/javascript" src="/scripts/handlebars.js"></script> 
    <script type="text/javascript" src="/scripts/handlebarsTemplateFetcher.js"> </script>
    <script type="text/javascript" src="/scripts/script.js" >   </script>
    
  </head>
  
  <body>
    <div id='receipt-column'>
      <section id='receipt-container'>
      </section>
    </div>

    <div id='menu-column'>
      <section id='menu-container'>
      </section>
    </div>
  </body>
</html>

