<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cafe hipstercoffee</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.css"/> -->
  </head>
  <body>
  <h1 align="center">Sorry but it's not enough meony!</h1>

  <table align="center" border="1" style="width:80%">
    <tr style="width:50%">
      <td style="width:50%">
        <h3 align="center" >
           Transaction will not be made, not enough money!
          <h3>
      </td>
      <td style="width:50%">
     <img src="http://i.ebayimg.com/00/s/NTY2WDg0OQ==/z/dO8AAOSwfcVULVhW/$_32.JPG?set_id=880000500F" width="100% " >
    </tr>
    <tr style="width:50%">
      <td style="width:50%" align="center">
        <form action="/" class="inline">
          <button class="float-left submit-button" > Home </button>
       </form>
      </td>
      <td style="width:50%" align="center">
        <form action="/new_menu" class="inline">
          <button class="float-left submit-button" > Try again! </button>
       </form>
      </td>
    </tr>
  </table>

  </body>
</html>
