<% @ordered_items.each do |item, details| %>

	<ul>
		<li><%= item %> x <%=details[0]%> = $<%=details[1]%></li>
	</ul>

<% end %>

Total = $<%= @total %>

<form action="/make_payment" method="post">
 	<input type="text" name="cash" id="amount_received">
	<button type="submit">Open Till</button>
</form>

