<!DOCTYPE html>
<html>
<head>
  <title>Till Challenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://bootswatch.com/readable/bootstrap.min.css">
</head>
<body>
<center>
  <%= yield %>
</center>
</body>
</html>
